@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.profileCoverCard {

     /* height: 280px; */
     /* border: none; */
     background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }



 /* max-width:600 */
 /* @media (max-width:600px) {

     


 } */

 .profile-header {
    transform: translateY(5rem);
}


/* file uploading css */



.modal-body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
}
.drag-image{
  border: 1px dashed rgb(0, 0, 0);
  height: 300px;
  width: 350px;
  border-radius: 5px;
  font-weight:400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.test-image{
  height: 300px;
  width: 350px;
  font-weight:400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.drag-image.active{
  border: 2px solid #fff;
}
.drag-image .icon{
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.drag-image h6{
  font-size: 20px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.drag-image span{
  font-size: 14px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  margin: 10px 0 15px 0;
}
.drag-image button{
  padding: 10px 25px;
  font-size: 14px; 
  font-weight: 300;
  border: none;
  outline: none;
  background:transparent;
  color: rgb(0, 0, 0);
  border:1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition:all 0.5s;
}

.drag-image button:hover{
    background-color:#fff;
    color:red;
}

.drag-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Ending file uploading css */
