
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.orline{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 25px 0 25px; 
}

.orline span { 
    background:#fff; 
    padding:0 10px; 
}

form .password p{
    margin-top: 2px;
    font-size: small;
    line-height: 1.1;

}