<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="commonfragment :: bootstrap"></div>
    <title>Server Error</title>
</head>
<body>
    

<div class="row">
    <div class="col-sm-4 offset-sm-4">
        <img class="img-fluid mt-4" src="https://img.freepik.com/premium-vector/error-404-page-found-page-found-text-oops-looks-like-something-went-wrong_143407-2.jpg?w=2000" alt="">
        <div class="text-right">        
        <a href="/post/home/0" class="btn btn-outline-primary mt-2">Home</a>
       </div>
    </div>
</div>

</body>
</html>