<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="commonfragment :: bootstrap"></div>
    <title>forgot your password</title>
    <!-- mapping CSS -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

    <div class="container-fluid">
        <div class="container">

            <!-- navbar fragment code coming from login page****************************** -->
            <div th:replace="login :: header"> </div>


            <div class="row">
                <div class="card col-lg-4 offset-lg-4 my-4">

                    <!-- success message showing %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
                    <div class="alert alert-warning fade show p-1" role="alert"
                        th:hidden="${signUpSuccess == '' || signUpSuccess == null}">
                        <strong>Sorry !</strong> <span th:text="${signUpSuccess}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="card-body">


                        <div class="sign form-group ">
                            <h3><b>Forgot your password</b></h3>
                            <p class="text-secondary">Password will be send on your registered email</p>
                        </div>
                        <!-- form is starting************************************************************* -->
                        <form th:action="@{/user/forgotPassword}" method="post">
                            <div class="form-group">
                                <input class="form-control email" name="email" type="email" placeholder="Email">
                            </div>

                            <div class="form-group ">
                                <button type="submit" class="btn btn-primary px-4 emailButton" disabled>Forgot</button>
                            </div>


                            <div class="form-group register_sec">
                                <p class="orline"><span>or</span></p>
                                <a th:href="@{/}" class="btn btn-success p-1">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        var email = document.getElementsByClassName("email");
        var emailButton = document.getElementsByClassName("emailButton");

        $(email).on('input change', function () {
            if ($(email).val() != '' && jQuery.trim($(email).val()) != '') {
                $(emailButton).prop('disabled', false);
            } else {
                $(emailButton).prop('disabled', true);
            }
        });
    </script>

</body>

</html>