<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <div th:insert="commonfragment :: bootstrap"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Home</title>

    <!-- mapping CSS -->
    <link rel="stylesheet" th:href="@{/css/postSpace/postHome.css}">

</head>

<body>

    <div class="bg-light">

        <div class="container" th:fragment="postNavbar">

            <!-- navbar !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/post/home/0}">
                    <img class="img-fluid " src="/images/logo.png" alt="SANDIPBOOK">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="navbar-toggler text-center" th:href="@{/profile/userProfile/0}" style="border: none;">
                            <img th:src="${logUser.profilePic != null}?'/profilePictures/'+${logUser.profilePic}:'/images/userProfileImages.jpg'"
                                class="rounded-circle img-fluid" style="width: 40px;" />
                            <p class="font-weight-bold mt-1 mb-0">Profile</p>
                        </a>

                        <!-- printing only 7 list data in navbar -->
                        <span
                            th:each="index: ${#numbers.sequence(0, (#lists.size(navbarCategoryData)>6)?6:#lists.size(navbarCategoryData)-1)}">
                            <a th:classappend="${navbarCategoryData[index].categoryName == categoryName} ? 'active' : ''"
                                class="nav-item nav-link btn btn-light mx-1 navbarActiveBtn"
                                th:href="@{'/post/home/0/'+'?categoryName='+${navbarCategoryData[index].categoryName}}"
                                th:text="${#strings.capitalize(navbarCategoryData[index].categoryName)}"></a>
                        </span>
                        <span class="nav-item text-center dropdown" th:if="${#lists.size(navbarCategoryData)>7}">
                            <a class="nav-link dropdown-toggle btn btn-light mx-1" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <span th:each="index: ${#numbers.sequence(7, #lists.size(navbarCategoryData)-1)}">
                                    <a th:classappend="${navbarCategoryData[index].categoryName == categoryName} ? 'active' : ''"
                                        class="dropdown-item" href="#"
                                        th:href="@{'/post/home/0/'+'?categoryName='+${navbarCategoryData[index].categoryName}}"
                                        th:text="${#strings.capitalize(navbarCategoryData[index].categoryName)}"></a>
                                </span>
                            </div>
                        </span>
                    </div>
                </div>

            </nav>
            <!-- navbar Ending !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        </div>
    </div>

    <!-- <div class="container-fluid mt-4" style="width: 100vw;"> -->

    <div class="container mt-4 ">
        <div class="row">
            <div class="col-sm-3 ">
                <!-- profile start -->

                <div class="card bg-light user_profile" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-3">
                            <a th:href="@{/profile/userProfile/0}">
                                <!-- src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp" -->
                                <img th:src="${logUser.profilePic != null}?'/profilePictures/'+${logUser.profilePic}:'/images/userProfileImages.jpg'"
                                    class="rounded-circle img-fluid" style="width: 100px;" />
                            </a>
                        </div>
                        <h6 class="mb-1">
                            <a th:href="@{/profile/userProfile/0}"
                                th:text="${logUser.firstName}+' '+(${logUser.lastName != null}?${logUser.lastName}:'')"></a>
                        </h6>
                        <p class="text-muted title">
                            Fresher Java Developer || Java || Spring boot || MySql || Angular || Hibernate ||
                            HTML
                            || CSS || Good Communication Skill
                        </p>
                        <hr>
                        <p class="title font-weight-bold text-muted prn"
                            th:text="${logUser.prn != null}?${logUser.prn}:'Set your PRN'"></p> <br>
                        <p class="title font-weight-bold text-muted session"
                            th:text="${logUser.session != null}?${logUser.session}:'Set your session'"></p>
                        <p class="title font-weight-bold text-muted prn"
                            th:text="${logUser.course != null}?${logUser.course.courseName}:'Set your Course'"></p>
                        <p class="title font-weight-bold text-muted prn"
                            th:text="${logUser.branch != null}?${logUser.branch.branchName}:'Set your branch'"></p>

                        <hr>
                    </div>
                </div>
                <!-- profile end -->
            </div>
            <div class="col-sm-6 p-0 ">
                <!-- Post module has started -->
                <div class="alert alert-warning alert-dismissible fade show" role="alert"
                    th:hidden="${posterrorMessage == '' || posterrorMessage == null}">
                    <span th:text="${posterrorMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- post module  started -->

                <div class="card bg-light postInput mx-1">

                    <div class="card-body">

                        <div class="align-items-center" style="display: flex;">

                            <a class="" th:href="@{/profile/userProfile/0}">
                                <img th:src="${logUser.profilePic != null}?'/profilePictures/'+${logUser.profilePic}:'/images/userProfileImages.jpg'"
                                    class="rounded-circle img-fluid" style="width: 50px;" />
                            </a>
                            <input class="form-control muted ml-3" aria-label="Large"
                                aria-describedby="inputGroup-sizing-sm" type="text"
                                th:placeholder="@{'Whats on your mind, '+${logUser.firstName}+' ?'}" readonly data-toggle="modal"
                                data-target="#exampleModal">
                        </div>

                    </div>

                </div>
                <hr>

                <!-- Modal has started!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form id="uploadForm" th:action="@{/post/savePost/0}+'?categoryName='+${categoryName}"
                                method="post" enctype="multipart/form-data">
                                <div class="modal-header">
                                    <!-- header!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                                    <h5 class="modal-title" id="exampleModalLabel">Create a post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- content!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

                                    <div class="row align-items-center">
                                        <div class="col col-sm-2 text-center">
                                            <a class="" th:href="@{/profile/userProfile/0}">
                                                <img th:src="${logUser.profilePic != null}?'/profilePictures/'+${logUser.profilePic}:'/images/userProfileImages.jpg'"
                                                    class="rounded-circle img-fluid" style="width: 50px;" />
                                            </a>
                                        </div>
                                        <div class="col-9 col-sm-10 text-left d-flex ">
                                            <span class="category_dropdown">
                                                <h6 class="mb-1"
                                                    th:text="${logUser.firstName}+' '+(${logUser.lastName != null}?${logUser.lastName}:'')">
                                                </h6>
                                                <i class="fa fa-globe"></i>
                                                <select class="selectInput pl-1" name="category" id="">
                                                    <!-- <option selected value="">Public</option> -->
                                                    <span th:each="categoryData : ${navbarCategoryData}">
                                                        <option th:value="${categoryData.cId}"
                                                            th:text="${categoryData.categoryName}">One</option>
                                                    </span>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- write something !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

                                    <textarea class="form-control border border-light postTextArea" name="post"
                                        aria-label="With textarea" rows="5"
                                        placeholder="What do you want to talk about?"></textarea>
                                    <img id="img_url" />
                                    <embed id="pdf_url" class="w-100" height="425" />
                                    <!-- write something !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="ml-3" style="cursor: pointer;">
                                            <i for="actual-btn" class="fa fa-upload" aria-hidden="true"></i>
                                            <span id="file-chosen" class="ml-1">Upload</span>
                                            <input id="actual-btn" type="file" style="display: none;" name="file"
                                                accept="image/*,.pdf" onChange="img_pathUrl(this); " />
                                        </label>

                                        <!-- progress bar -->
                                        <progress class="p-3 ml-2" id="pBar" value="0" max="100"
                                            style="display: none;"></progress>

                                    </div>
                                    <div class="col text-right">
                                        <button type="submit" class="btn btn-primary mr-2 mb-2">Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- modal has ended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


                <!-- post module  ended -->
                <!-- post content data is showing !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                <div class="card mb-3 paginationSecond" th:each="userPostData : ${postData}">

                    <div class="m-3" style="display: flex;">
                        <a class="" th:href="@{/profile/unknownUserProfile/}+${userPostData.user.userId}+@{/0}">
                            <img th:src="${userPostData.user.profilePic != null}?'/profilePictures/'+${userPostData.user.profilePic}:'/images/userProfileImages.jpg'"
                                class="rounded-circle img-fluid" style="width: 45px;" />
                        </a>
                        <div class="ml-2" style="line-height: 13px; font-size: small;">
                            <h6 class=" mb-0" style="color: rgb(90, 77, 77);"
                                th:text="${userPostData.user.firstName}+' '+(${userPostData.user.lastName != null}?${userPostData.user.lastName}:'')">
                            </h6>
                            <small class="text-secondary"
                                th:text="${userPostData.user.branch == null} ? 'Complete your profile first !!':${userPostData.user.branch.branchName}"></small>
                            <br>
                            <small class="text-secondary" th:text="${userPostData.postOn}"></small>
                        </div>
                    </div>



                    <!-- content of the post -->
                    <p class="mx-3 mb-0 show-read-more" style="font-size: 15px;" th:text="${userPostData.post}"></p>
                    <!-- content of the post end -->

                    <a th:if="${!#strings.containsIgnoreCase(''+userPostData.photo,'.pdf') && userPostData.photo != null}"
                        target="_blank" th:href="('/uploadedImages/'+${userPostData.photo})"
                        style="background: transparent url(https://miro.medium.com/max/1400/1*CsJ05WEGfunYMLGfsT2sXA.gif) no-repeat center; background-size: 70% 50%;">
                        <img class="img-fluid w-100 mb-0" th:src="'/uploadedImages/'+${userPostData.photo}"
                            onerror="this.onerror=null; this.src='https://miro.medium.com/max/1400/1*zE2qnVTJehut7B8P2aMn3A.gif'"
                            alt="">
                    </a>


                    <span class="embedfile mb-0" th:if="${#strings.containsIgnoreCase(''+userPostData.photo,'.pdf')}">

                        <object th:if="${#strings.containsIgnoreCase(''+userPostData.photo,'.pdf')}" class="w-100 mb-0"
                            th:data="('/uploadedImages/'+${userPostData.photo}+'#toolbar=0')" type="application/pdf"
                            height="500"
                            style="background: transparent url(https://miro.medium.com/max/1400/1*CsJ05WEGfunYMLGfsT2sXA.gif) no-repeat center; background-size: 70% 50%;">
                            <p class="p-3 ">Your web browser doesn't have a PDF plugin. <br>
                                <b class="text-light "
                                    th:text="${#strings.replace(userPostData.photo,#strings.substring(userPostData.photo, 0),#strings.substring(userPostData.photo, #strings.indexOf(userPostData.photo,'@Books')+6))}"></b>

                                <br>
                                <!-- <p ></p> -->
                                <a class="btn btn-success mt-3"
                                    th:href="('/uploadedImages/'+${userPostData.photo}+'#toolbar=0')">Click
                                    here to
                                    download the PDF file</a>
                            </p>
                        </object>

                    </span>


                    <!-- comment sections is here -->

                    <div class="">
                        <hr class="mt-0">
                        <span class="mb-3" style="display: flex;">
                            <button class="ml-2 btn btn-light likeButton" type="button"><i
                                    class="fa fa-thumbs-up iconLikeButton" aria-hidden="true"></i> Like
                            </button>

                            <button class="btn btn-light collapseComment ml-3" type="button"> <i
                                    class="fa fa-comment"></i>
                                Comment
                            </button>

                            <span class="ml-auto">
                                <a class="collapseComment2 mr-3" style="cursor: pointer;">
                                    <small> <span th:text="${#lists.size(userPostData.comments)}"></span>
                                        comments</small>
                                </a>
                            </span>
                        </span>


                    </div>

                    <div class="card postInput bg-light collapseExamples" style="display: none;">

                        <form
                            th:action="@{/comment/save/userComment}+'/'+${userPostData.postId}+'/'+${currentPage}+'?categoryName='+${categoryName}"
                            method="post">
                            <div class="card-body ">
                                <span style="display: flex;">
                                    <a class="" href="#">
                                        <img th:src="${logUser.profilePic != null}?'/profilePictures/'+${logUser.profilePic}:'/images/userProfileImages.jpg'"
                                            class="rounded-circle img-fluid" style="width: 42px;" />
                                    </a>

                                    <textarea class="mx-2 form-control mt-1 commentTextArea" name="comment"
                                        aria-label="Large" aria-describedby="inputGroup-sizing-sm" type="text"
                                        placeholder="Add a comment..."></textarea>
                                </span>
                                <span class="mr-2 mt-1" style="float: right;">
                                    <button type="submit" disabled class="btn btn-info commentButton">Post</button>
                                </span>
                            </div>

                        </form>
                        <p class="ml-4 mb-0">Comments</p>

                        <div class="card-body">
                            <span class="mb-0" style="display: flex;" th:each="commentData: ${userPostData.comments}">
                                <a class="" href="#">
                                    <img th:src="${commentData.user.profilePic != null}?'/profilePictures/'+${commentData.user.profilePic}:'/images/userProfileImages.jpg'"
                                        class="rounded-circle img-fluid" style="width: 42px;" />
                                </a>
                                <div class=" p-2 mt-2 mx-2 w-100"
                                    style="background-color: rgb(238 238 238); font-size: 14px; border-radius: 0px 10px 10px 20px;">
                                    <p class="mb-0"><b th:text="${commentData.user.firstName}"></b></p>
                                    <p class="mb-1" th:text="${commentData.comment}">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus temporibus
                                        mollitia tenetur nobis ducimus cupiditate inventore ipsum iure quas. Ad facilis
                                        quos
                                        voluptate perspiciatis eum beatae corporis doloremque consectetur
                                        architecto!consectetur architecto!
                                    </p>
                                    <small class="mt-0 text-secondary" style="float: right;"
                                        th:text="${commentData.commentAt}">27-Jun-2022 at 09:47 am</small>
                                </div>
                            </span>
                            <span class="text-center text-secondary"
                                th:unless="${#lists.size(userPostData.comments)} != 0">
                                <p>There are no comments yet...</p>
                            </span>
                        </div>


                    </div>
                    <!-- comment sections is here !!!!!!!!!!!!!!!! -->

                </div>
                <!-- post content data is ending !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                <!-- Post module has ended -->

                <!-- pagination !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <nav aria-label="Page navigation example" class="table-responsive my-2 p-2">
                    <ul class="pagination m-1 nav justify-content-center" th:if="${totalPages != 0}">
                        <li th:if="${currentPage != 0}" class="page-item" title="First">
                            <a class="page-link" href="#"
                                th:href="@{'/post/home/'+${0}+'?categoryName='+${categoryName}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>
                        <li th:if="${currentPage != 0}" class="page-item" title="Previous">
                            <a class="page-link" href="#"
                                th:href="@{'/post/home/'+${currentPage-1}+'?categoryName='+${categoryName}}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>



                        <!-- numbering of pages!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                        <li th:classappend="${currentPage == i-1}?'active':''"
                            th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link"
                                th:href="@{'/post/home/'+${i-1}+'?categoryName='+${categoryName}}"><span
                                    th:text="${i}"></span></a></li>




                        <li th:if="${currentPage+1 != totalPages}" class="page-item" title="Next">
                            <a class="page-link" href="#"
                                th:href="@{'/post/home/'+${currentPage+1}+'?categoryName='+${categoryName}}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>




                        <li th:if="${currentPage+1 != totalPages}" class="page-item" title="Last">
                            <a class="page-link" href="#"
                                th:href="@{'/post/home/'+${totalPages-1}+'?categoryName='+${categoryName}}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                                <span class="sr-only">Last</span>
                            </a>
                        </li>

                    </ul>
                    <span class="mt-5" th:unless="${totalPages != 0}">
                        <img class="img-fluid"
                            src="https://cdn.dribbble.com/users/888330/screenshots/2653750/empty_data_set.png" alt="">
                    </span>
                </nav>
                <!-- pagination -->






            </div>
            <div class="col-sm-3 rightcolcard">

                <div class="card">
                    <span class="p-2" style="display: flex;">
                        <img class="img-fluid" style="width: 17%;" src="/images/Events-icon.png" alt="">
                        <h6 class="ml-3 text-success" style="margin-top: 10px;">Events / Seminar</h6>
                    </span>
                </div>

                <div class="card eventcard mt-4 text-center text-light ">
                    <span class="mt-3">
                        <h4>Seminar</h4>
                        <h5>03-07-2022</h5>
                        <h5>8:00 PM</h5>
                    </span>
                </div>
                <div class="card eventcard mt-4 text-center text-light ">
                    <span class="mt-3">
                        <h4>Seminar</h4>
                        <h5>03-07-2022</h5>
                        <h5>8:00 PM</h5>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <!-- </div> -->


    <script th:src="@{/js/postHome.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>